asgiref==3.11.0
boto3==1.42.17
botocore==1.42.17
Django==6.0
django-cors-headers==4.9.0
django-jsonform==2.23.2
django-ratelimit==4.1.0
django-redis==6.0.0
django-storages==1.14.6
djangorestframework==3.16.1
jmespath==1.0.1
python-dateutil==2.9.0.post0
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.2
